*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body{
    background: #E0EDFF;
}

header{
    display: flex;
    position: relative;
    justify-content: space-between;
    background: #D3E6FF;
    height: 155px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    background: rgba(28, 41, 55, 0.5);;
    margin-top: 100px;
}

.lower-bar{
    margin: 20px;
} 

.cm_heading{
    margin-left: 100px;
    font-family: 'Red Hat Display', sans-serif;
    display: inline;
    background: #E8E8E8;
    padding: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 46px;
    color: #8B4300;
    font-family: 'Red Hat Display', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contactme{
    text-align: center;
    margin-top: 70px;
}

.contact table img{
    height: 30px;
    width: 30px;
}

.message{
    margin-top: 50px;
    margin-left: 120px;
}

.msg_heading{
    margin-left: 150px;
    font-family: 'Red Hat Display', sans-serif;
    display: inline;
    background: #E8E8E8;
    padding: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 46px;
    color: #8B4300;
    font-family: 'Red Hat Display', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-form {
    background: rgba(255, 255, 255, 0.51);
    border-radius: 9px;
    padding: 20px;
    width: 300px;
    margin-left: 120px;
}

.contact-form div {
    display: flex;
    margin-bottom: 15px;
}

.contact-form div label {
    width: 120px;
    background: #E9E9E9;
    border-radius: 5px 0px 0px 5px;
    line-height: 20px;
    padding-left: 20px;
    color: #8B4300;;
}
.contact-form div input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    line-height: 20px;
    padding: 0px 10px;
    font-size: 1em;
}

.contact-form .address {
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    display: block;
    padding: 10px;
}

.contact-form .address label {
    display: block;
    width: 100%;
    background: #ffffff;
    line-height: 5px;
    text-align: left;
    padding: 10px;
}

.contact-form .address textarea {
    display: block;
    width: 100%;
    background: #E9E9E9;
    border-radius: 5px;
    padding: 10px;
    min-height: 80px;
    border: none;
    outline: none;
}


.form-submit button {
    background: linear-gradient(180deg, #7c3f06 0%, #ffc75e 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    color: #FFFFFF;
    border: none;
    font-size: 1.1em;
    padding: 5px 20px;
    margin-left: auto;
    margin-top: 10px;
}

.contact {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
}

nav{
    position: relative;
    margin-top: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#ellipse{
    position:absolute;
    top:60%;
    width: 144px;
    height: 150px;
    margin-left: 45px;
}

.name p{
    display: block;
    position: absolute;
    margin-top: 18px;
    margin-left: 45px;
    font-family: Roboto;
    font-family: 'Red Hat Display', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 56px;
    color: #949292;
    backdrop-filter: blur(4px);
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    padding-right: 15px;
}

nav ul li a{
    padding: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 4px;
    text-decoration: none;
    color: #6C3C00;
}

main{
    display: flex;
    flex-direction: column;
}

#profile{
    background:  rgba(249, 249, 113, 0.795);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#home:hover{
    background: rgba(249, 249, 113, 0.795);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition: 500ms;
}

#skills:hover{
    background:  rgba(249, 249, 113, 0.795);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition: 500ms;
}

#projects:hover{
    background:  rgba(249, 249, 113, 0.795);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition: 500ms;
}

.social-links-small a{
    width: 35px;
    height: 35px;
}

.qcard-container {
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.qcard {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: minmax(290px,100%);
    margin: 30px;
    padding: 30px;
    height: 370px;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qcard h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 21px;
    color: #2B2B2B;
    margin-top: 20px;
}

.qcard h5 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;

    color: #2B2B2B;
    margin-top: 20px;
}
.qcard p {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    color: #007205;
    margin-top: 40px;
}

.qcard img{
    width: 100px;
    height: 100px;
}


/* Responsive */

@media (max-width: 815px ) {

    nav ul{
        display: none;
    }

    nav ul.showmenu{
        display: block; 
        position: absolute;
        margin-top: 70px;
        margin-left: -350px;
        background:#D3E6FF;
        border-radius: 19px;
       }

    header{
        display: flex;
        position: relative;
        justify-content: space-between;
        background-color: #D3E6FF;
        height: 155px;
    }

    nav ul.showmenu li{
        display: block;
        list-style: none;
        padding: 15px;
        width: 400px;
        text-align: center;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.18);
    }
    
    nav ul.showmenu li a{
        border-radius: 0px;
        padding: 10px;
        font-family: 'Red Hat Display', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 40px;
        letter-spacing: 4px;
        text-decoration: none;
        color: #FFFFFF;
    }


    #profile{
        color: #000000;
        background: none;
    }
    
    #home,#skills,#projects,#contact{
        color: #777676;
    }

    .menu-itemp{
        border: 1px solid rgba(0, 0, 0, 0.22);
    }

    nav ul.showmenu::before{
        content: '';
        position: absolute;
        top: -40px;
        left: 345px;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid#D3E6FF;
    }


    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        margin-right: 0px;
        margin-top: -20px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        /* border: 3px solid #fff; */
      }

      .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 47, 47, 0.685);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 47, 47, 0.685);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-16px);
      }
      .menu-btn__burger::after {
        transform: translateY(16px);
      }
}

  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }


/*animations*/
footer p{
    opacity: 0;
    animation: slideinright 9000ms ease-in 0ms infinite forwards;
}

@keyframes slideinright{
    from{
        opacity: 1;
        transform: translateX(150px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.aboutme,.hobbies,.personaltrait,.pastqualification,.currentcourse{
    z-index: -5;
}

.aboutme_heading,.hobbies_heading,.personaltrait_heading,.pastqualification_heading,.currentcourse_heading{
    opacity: 0;
    animation: fadein 300ms ease-in 0ms forwards;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.aboutme_content,.hobbies_content,.personaltrait_content,.pastqualification_content,.currentcourse_content{
    opacity: 0;
    animation: slideinleft 300ms ease-in 300ms forwards;
}

@keyframes slideinleft{
    from{
        opacity: 1;
        transform: translateX(-1000px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 770px) {
    footer p{
        opacity: 1;
        animation: none;
    }
}

